<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Engineering Student</span>
                <h1 class="mt-4">Hello, My name is Fathima Thahasin✌🏻</h1>
                <p class="p-des mt-3">A Coding enthusiast who designs creative posters and loves playing sports. Believes in life-long learning, have a passion for tech-related stuff.😊</p>
                <p>
                    To connect with me:
                </p>
                <p>
                    email - fathima.thahasin56@gmail.com
                </p>
                <p>
                    LinkedIn - https://www.linkedin.com/in/fathima-thahasin-5770301a2?fromQR=1
                </p>
                <p>
                    GitHub - https://github.com/sinna135
                </p>
            </div>
        </div>
    </div>
</section>